attrs
branca
Brotli
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
contourpy
cycler
fiona==1.10.1
folium
fonttools
geopandas
h2
hpack
hyperframe
idna
Jinja2
joblib
kiwisolver
mapclassify
MarkupSafe
matplotlib==3.9.3
munkres==1.1.4
networkx
numpy
packaging
pandas
pillow
pycparser
pyogrio
pyparsing
pyproj
PySocks
python-dateutil
pytz
requests
scikit-learn
scipy
shapely
six
threadpoolctl
tzdata
unicodedata2
urllib3
win_inet_pton
xyzservices
zstandard==0.23.0
